github "Alamofire/AlamofireImage" ~> 3.1
github "Alamofire/Alamofire" ~> 4.0
github "RxSwiftCommunity/RxAlamofire" "ba0d1a3d66c979de0b9847ae43e11e1ab3085f85"
github "johnsundell/unbox" "swift3"
github "ReactiveX/RxSwift" "3.0.0-rc.1"
